/*Для импорта шрифта текста*/               
@import url('https://fonts.googleapis.com/css?family=Dancing+Script'); 
        @keyframes anim {  /*Весь anim для поезда, просто не трогайте его*/
                0% {
                    transform: translateX(0px) rotateY(180deg);
                }
                30% {
                    transform: translateX(calc(90vw - 200px)) rotateY(180deg);
                }
                50% {
                    transform: translateX(calc(90vw - 200px)) rotateY(0deg);
                }
                80% {
                    transform: translateX(0px) rotateY(0deg);
                }
                100% {
                    transform: translateX(0px) rotateY(180deg);
                }
            }
/*art1 - внешнее оформление нашей страницы. Просто скопируйте.*/
                article {
                    border-width: 6px;
                    border-color: green;
                    border-style: inset;
                    width: 90vw;
                    background-color: hsla(111, 87%, 90%, 0.5);
                    margin: auto;
                    position: relative;
                    margin-bottom: 5vh;
                    margin-top: 5vh;
                }
 /*Оформление ссылок. Сверху будет панель с ссылками*/  
    /*Ссылок всего 2 (которые в оглавлении), поэтому brd и brd1. Отличаются только цветом. Я не обощал все в один (т.е для 
        всего а, потому что в картинке ЛЕТОВО у нас будет ссылка на сайт школы, а оформление
        картинки другое*/
/* Общее оформление ссылок*/

                a{
                    color: yellowgreen;
                    display: inline-block;
                    font-family: 'Dancing Script', cursive;
                    text-decoration: none;
                }
                a:hover{
                    color: red;
                } 
/*Оформление 1 ссылки. Цвет: зеленый*/
                .brd {
                    border: 2px double black; /* Параметры границы */
                    background: greenyellow; /* Цвет фона */
                    padding: 10px; /* Поля вокруг текста */
                    color: grey;
                    display: inline-block;
                    margin-left: 1vw; 
                    font-family: 'Dancing Script', cursive;
                    text-decoration: none;
                   }
/*HOVER отвечает за изменение объекта при наведение на него мышкой*/
/*При наведении ссылка немного увеличиться с размере, изменет цвет шрифта на красный*/
                .brd:hover{
                    transform: scale(1.1);
                    border-style: inset;
                    color: red;
                }
/*Собственно оформление для 2 ссылки. Цвет: желтый*/
                .brd1 {
                    border: 2px double black; /* Параметры границы */
                    background: yellow; /* Цвет фона */
                    padding: 10px; /* Поля вокруг текста */
                    color: grey;
                    display: inline-block;
                    margin-left: 1vw; 
                    font-family: 'Dancing Script', cursive;
                    text-decoration: none;
                   }
/*Тот же самый HOVER, как и для предыдущей ссылки*/
                .brd1:hover{
                    transform: scale(1.1);
                    border-style: inset;
                    color: red;
                    
                }
                .brd2 {
                    border: 2px double black; /* Параметры границы */
                    background: ; /* Цвет фона */
                    padding: 10px; /* Поля вокруг текста */
                    color: grey;
                    display: inline-block;
                    margin-left: 1vw; 
                    font-family: 'Dancing Script', cursive;
                    text-decoration: none;
                   }
/*Тот же самый HOVER, как и для предыдущей ссылки*/
                .brd2:hover{
                    transform: scale(1.1);
                    border-style: inset;
                    color: red;
                    
                }

 /*Стиль пунктов. Он нужен, если у вас в тексте есть пункты*/
 /*Оформление пунктов с точками (вместо цифр стоят точки)*/
                li
                {
                    font-family: 'Dancing Script', cursive;
                    font-weight: bolder;
                    color: forestgreen;
                    font-size: 1.5vw;
                    margin-left: 1.5vw;
                }
 /*Оформление пунтков с цифрами*/
                 ul
                {
                    font-family: 'Dancing Script', cursive;
                    font-weight: bolder;
                    color: forestgreen;
                    font-size: 1.5vw;
                    margin-left: 1.5vw;
                }

/*Стиль для h1*/
                h1 {
                    font-family: 'Dancing Script', cursive;
                    text-align: center;
                    font-weight: bolder;
                    font-size: 5vh;
                    color: indianred;
                }
/*Стиль для h2*/
                h2 {
                    font-family: 'Dancing Script', cursive;
                    font-size: 1vw;
                    margin-bottom: 50px;
                   color: cadetblue;
                    margin-left: 4vw;
                }
/*Изменение первой буквы h2*/
                h2:first-letter {
                    font-weight: bolder;
                    font-size: 2vw;
                    color: forestgreen;
                }
/*Стиль для р*/
                p{
                    font-family: 'Dancing Script', cursive;
                    text-align: left;
                    font-weight: bold;
                    font-size: 1vw;
                    margin-left: 3vw;
                    color: cadetblue;
                }
/*Стиль для первой буквы р*/
                p::first-letter {
                    font-weight: bolder;
                    font-size: 2vw;
                    color: forestgreen;
                }
/*Стиль для видео*/
                video {
                    border-width: 6px;
                    border-color: green;
                    border-style: outset;
                    background-position: center;
                    /*height: 38.6vw;*/
                    margin-top: 100px;
                    margin-left: calc(10vw - 6px);
                    margin-bottom: 50px;
                }
		    iframe{
                        border-width: 6px;
                        border-color: green;
                        border-style: outset;
                        margin-top: 100px;
                        background-position: center;
                        margin-left: calc(10vw - 6px);
                        margin-bottom: 50px;
    }
/*Стиль для логотипа Летово*/
                #img3{
                    top: 1vw;
                    left: 1;
                    display: inline-block;
                    margin-right: 1vw;
                    float: right;
			         margin: 0px 10px 0px 10px;
                }   
/*При наведении на любую картинку, она увеличивается в размере (немного)*/
                img:hover{
                    transform: scale(1.1);
                }
/*Стиль для частной картинки. Это чисто мое оформление одной из картинок. Внизу помечено, что можно менять, что не нужно(для общего стиля всей группы)*/
                #img1 {
                    border-width: 6px; /*Нельзя*/
                    border-color: green;/*Нельзя*/
                    border-style: outset;/*Нельзя*/
                    margin: auto;
                    display: block;
                    margin-top: auto;
                    margin-bottom: auto;
                }
                #imgfr1 {
                    border-width: 6px; /*Нельзя*/
                    border-color: green;/*Нельзя*/
                    border-style: outset;/*Нельзя*/
                    margin: auto;
                    float: right;
                    display: block;
                    margin-top: auto;
                    margin-bottom: auto;
                }
/*Это можно не смотреть.*/
                #img2 {
                    float: right;
                    border-width: 6px;         
                    border-color: green;
                    border-style: outset;
                    top: 60vw;
                    background-position: right;
                    left: 60vw;
                    margin-right: calc(4vw - 6px);
                }
	/* НЕ ТРОГАЙТЕ, ПРОШУ!*/
					#imgs1 {
					    width: 30vw; /*Можно*/
					    float: right; /*Нельзя*/
					    border-width: 6px; /*Нельзя*/
					    border-color: green;/*Нельзя*/
					    border-style: outset;/*Нельзя*/
					    top: 45vw;/*Можно*/
					    background-position: right; /*Нельзя*/
					    left: 60vw; /*Можно*/
					    margin-right: calc(4vw - 6px); /*Нельзя*/
					}
			/*Это можно не смотреть.*/
					#imgs2 {
					    width: 30vw;
					    float: right;
					    border-width: 6px;         
					    border-color: green;
					    border-style: outset;
					    top: 60vw;
					    background-position: right;
					    left: 60vw;
					    margin-right: calc(4vw - 6px);
					}
                    #iframes {
                        border-width: 6px;
                        border-color: green;
                        border-style: outset;
                        background-position: center;
                        height: 38.6vw;
                        width: 68vw;
                        margin-top: 100px;
                        margin-left: calc(11vw - 6px);
                        margin-bottom: 50px;
                    }
#aaa{
    color:forestgreen;
}
#aaa:hover{
    color:red;
}
                    
/*КОНЕЦ*/
/*Паровозик))*/
                #train {
                        width: 200px;
                        animation: anim 10s infinite;
                    }
@import url('https://fonts.googleapis.com/css?family=Dancing+Script');
            @import url('https://fonts.googleapis.com/css?family=Niramit');
            .andrey-article {
                border-width: 6px;
                border-color: green;
                border-style: inset;
                width: 90vw;
                background-color: hsla(111, 87%, 90%, 0.5);
                margin: auto;
                position: relative;
                margin-bottom: 5vh;
                margin-top: 100px;
            }
            .andrey-topic {
                font-family: 'Dancing Script', cursive;
                text-align: center;
                font-weight: bolder;
                font-size: 7vh;
                color: cadetblue;
            }
            .andrey-menu {
                position: absolute;
                border:5px green inset;
                width: calc(100vw - 29px);
                height: 70px;
                background-color: hsla(111, 12%, 83%, 0.75);
                top: -100px;
                left: -39px;
            }
	.lolkeksvg {
                margin-left: 5vw;
                margin-bottom: 40px;
            }
            .andrey-li{
                font-weight: bolder;
                font-size: 2rem;
                color: black;
                margin-bottom: 50px;
                margin-left: 40px;
            }
            .andrey-li a{
                font-size: 2rem;
                font-weight: bold;
                color: cadetblue;
                text-decoration: none;
            }
            .andrey-a {
                display: inline-block;
                margin-left: calc(33.3vw - 124px);
                text-align: center;
                font-family: 'Dancing Script', cursive;
                font-weight: bold;
                font-size: 40px;
                text-decoration: none;
                color: cadetblue
            }
            .andrey-breaker {
                width: 4px;
                height: 50px;
                background-color: #005200;
                position: absolute;
                top: 10px;
                left: calc(50vw - 16.5px);
            }
            .andrey-letovo {
                display: block;
                position: absolute;
                border: 3px green outset; 
                top:0;
                right: 0;
                width: 80px;
                height: 90px;
            }
            .andrey-line {
                display: block;
                margin: 20px auto 30px auto;
                width: 70vw;
                background-color: hsla(240, 100%, 72%, 0.71);
                height: 3px;
            }
            .andrey-brief {
                width: 50vw;
                margin-left: 20vw;
                font-family: 'Dancing Script', cursive;
                text-align: center;
                font-size: 2vh;
            }
            .andrey-imgcontainer {
                position: relative;
                margin-left: 5vw;
                width: 80vw;
                height: calc(40vw + 30px);
                margin-bottom: 30px;
            }
            .andrey-imgdescriptor {
                display: block;
                font-family: 'Dancing Script', cursive;
                width: 35vw;
                height: 40vw;
                font-size: 2.2vw;
                position: absolute;
                top: -20px;
            }
            .andrey-p {
                display: block;
                margin-left: 5vw;
                margin-bottom: 50px;
                font-family: 'Dancing Script', cursive;
                font-size: 1.4rem;
		color: black;
            }
	    .andrey-p::first-letter{
		font-family: 'Dancing Script', cursive;
                font-size: 1.4rem;
		font-weight: 100;
		color: black;
	    }
	   .andrey-subtitle::first-letter{
		font-weight: bolder;
                font-size: 4vh;
                color: cadetblue;
	    }
            .andrey-svg {
                display: block;
                width: 40vw;
                height: 40vw;
                border: 5px green inset;
                position: absolute;
                right: 0;
                background-color: aliceblue;
            }
            .andrey-i {
                font-family: 'Niramit', sans-serif;
            }
            .andrey-vid {
                border-width: 6px;
                border-color: green;
                border-style: outset;
                background-position: center;
                width:80vw;
                margin-top: 20px;
                margin-left: 5vw;
                margin-bottom: 50px;
            }
            .andrey-iframe {
                width: 80vw;
                height: 40vw;
                margin-left: 5vw;
            }
 	    .andrey-subtitle {
                font-family: 'Dancing Script', cursive;
                text-align: center;
                font-weight: bolder;
                font-size: 4vh;
                color: cadetblue;
            }
